<div class="filter-outer">
  <strong>Filters:</strong>
  <div class="filter-heading">
    Category
  </div>
  <div class="padding-left-5">
    <span *ngFor="let cat of categories" class="display-block">
      <label>
        <input type="checkbox" value="cat.name" id="{{cat.name}}" [(ngModel)]="cat.selected" (change)="categoryChanged(cat)" /> {{cat.name}}
      </label>
    </span>
  </div>
  <hr>
  <div>
    <span class="filter-heading display-block">Reading time: {{timeValue}} mins</span>
    <span class="padding-left-5">
      <input id="rangeSelector" type="range" [(ngModel)]="timeValue" min="0" max="30" (change)="timeChanged()" />
      <div class="row">
        <div class="col col-xs-1">0</div>
        <div class="col col-xs-offset-10 col-1 align-right">30</div>
      </div>
    </span>
  </div>
</div>

